Package: com.level3tjg.workflows
Name: Workflows
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Run iOS Shortcuts / Workflows
Maintainer: level3tjg
Author: level3tjg
Section: Tweaks
